* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background: #191b1f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  direction: rtl;
  font-family: Cario;
}

.iconButton {
  transition-duration: 200ms !important;
  transition-property: all !important;
}

.iconButton:hover {
  background: #7c7575 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
  transition-duration: 200ms !important;
  transition-property: all !important;
}

.todoCard:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);

}

/* ==== Custom Fonts ==== */
@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Cario;
  src: url("/public/Fonts/Cairo-Black.ttf");
  font-weight: 900;
}

/* ---- Custom Fonts ---- */